/*Flexible Images*/
.view-mogul-podcast-grid-large img,
.view-mogul-podcast-grid-small img {
  height: auto;
  max-width: 100%;
}


/*Podcast Grid Large*/
.view-mogul-podcast-grid-large .view-content {
  margin-top: 10px;
}

.view-mogul-podcast-grid-large .views-row {
  float: left;
  margin: 0;
  min-height: 150px;
  padding: 0 10px 10px 0;
  width: 200px;
}

.view-mogul-podcast-grid-large .view-content li {
  list-style: none;
}

.view-mogul-podcast-grid-large .views-field-ops {
  margin-top: 5px;
  text-indent: -9999px;
}

.view-mogul-podcast-grid-large .views-field-ops a {
  display: block;
  float: right;
  height: 15px;
  width: 15px;
}

.view-mogul-podcast-grid-large .flag-action {
  background: url("images/mogul_favorites_flag_sprite.png") 0 0 no-repeat;
  cursor: pointer;
}

.view-mogul-podcast-grid-large .flag-action:hover {
  background: url("images/mogul_favorites_flag_sprite.png") 0 -15px no-repeat;
  cursor: pointer;
}

.view-mogul-podcast-grid-large .unflag-action {
  background: url("images/mogul_favorites_flag_sprite.png") 0 -15px no-repeat;
  cursor: pointer;
}

.view-mogul-podcast-grid-large .unflag-action:hover {
  background: url("images/mogul_favorites_flag_sprite.png") 0 -30px no-repeat;
  cursor: pointer;
}

.view-mogul-podcast-grid-large .flag-throbber {
  display: none;
}

.view-mogul-podcast-grid-large .flag-message {
  float: left !important;
}

.view-mogul-podcast-grid-large .fivestar-widget {
  clear: none !important;
}

.view-mogul-podcast-grid-large .ajax-progress {
  display: none;
}

.view-mogul-podcast-grid-large .ajax-progress .throbber {
  display: none;
}


/*Podcast Grid Small*/
.view-mogul-podcast-grid-small .views-row {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  margin: 0;
  padding: 0 10px 10px 0;
  width: 33.33%;
}

@media screen and (max-width: 400px) {
  .view-mogul-podcast-grid-small .views-row {
    width: 100%;
  }
}

@media screen and (min-width: 401px) and (max-width: 739px) {
  .view-mogul-podcast-grid-small .views-row {
    width: 50%;
  }
}

.view-mogul-podcast-grid-small .view-content li {
  list-style: none;
}

.view-mogul-podcast-grid-small .views-field-ops {
  margin-top: 5px;
  text-indent: -9999px;
}

.view-mogul-podcast-grid-small .views-field-ops a {
  display: block;
  float: right;
  height: 15px;
  width: 15px;
}

.view-mogul-podcast-grid-small .flag-action {
  background: url("images/mogul_favorites_flag_sprite.png") 0 0 no-repeat;
  cursor: pointer;
}

.view-mogul-podcast-grid-small .flag-action:hover {
  background: url("images/mogul_favorites_flag_sprite.png") 0 -15px no-repeat;
  cursor: pointer;
}

.view-mogul-podcast-grid-small .unflag-action {
  background: url("images/mogul_favorites_flag_sprite.png") 0 -15px no-repeat;
  cursor: pointer;
}

.view-mogul-podcast-grid-small .unflag-action:hover {
  background: url("images/mogul_favorites_flag_sprite.png") 0 -30px no-repeat;
  cursor: pointer;
}

.view-mogul-podcast-grid-small .flag-throbber {
  display: none;
}

.view-mogul-podcast-grid-small .flag-message {
  float: left !important;
}

.view-mogul-podcast-grid-small .fivestar-widget {
  clear: none !important;
}

.view-mogul-podcast-grid-small .ajax-progress {
  display: none;
}

.view-mogul-podcast-grid-small .ajax-progress .throbber {
  display: none;
}


/*Podcast Favorites*/
.view-mogul-podcast-favorites .views-row {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  margin: 0;
  padding: 0 10px 10px 0;
  width: 33.33%;
}

@media screen and (max-width: 400px) {
  .view-mogul-podcast-favorites .views-row {
    width: 100%;
  }
}

@media screen and (min-width: 401px) and (max-width: 739px) {
  .view-mogul-podcast-favorites .views-row {
    width: 50%;
  }
}

.view-mogul-podcast-favorites .view-content li {
  list-style: none;
}

.view-mogul-podcast-favorites .views-field-ops {
  margin-top: 5px;
  text-indent: -9999px;
}

.view-mogul-podcast-favorites .views-field-ops a {
  display: block;
  float: right;
  height: 15px;
  width: 15px;
}

.view-mogul-podcast-favorites .flag-action {
  background: url("images/mogul_favorites_flag_sprite.png") 0 0 no-repeat;
  cursor: pointer;
}

.view-mogul-podcast-favorites .flag-action:hover {
  background: url("images/mogul_favorites_flag_sprite.png") 0 -15px no-repeat;
  cursor: pointer;
}

.view-mogul-podcast-favorites .unflag-action {
  background: url("images/mogul_favorites_flag_sprite.png") 0 -15px no-repeat;
  cursor: pointer;
}

.view-mogul-podcast-favorites .unflag-action:hover {
  background: url("images/mogul_favorites_flag_sprite.png") 0 -30px no-repeat;
  cursor: pointer;
}

.view-mogul-podcast-favorites .flag-throbber {
  display: none;
}

.view-mogul-podcast-favorites .flag-message {
  float: left !important;
}

.view-mogul-podcast-favorites .fivestar-widget {
  clear: none !important;
}

.view-mogul-podcast-favorites .ajax-progress {
  display: none;
}

.view-mogul-podcast-favorites .ajax-progress .throbber {
  display: none;
}
